<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/54e57a84b2.js" crossorigin="anonymous"></script>
    <style>

    </style>
    <script>
        $(document).ready(function () {
            listing()
            $('.genre-div-k').hide();
            $('.genre-div-p').hide();

            $('#k-toggle').click(function () {
                $('.genre-div-k').toggle();
            });
        })

        function music_info() {
            alert("상세페이지test")
        }

        function heart_click(url, type) {    //하트 클릭시 정보 전송
            console.log(url, type)
            let i_like = $('#'+url).find("i")
            let num_like =$('#'+url).find("span")
            console.log(i_like)
            if (i_like.hasClass("check-heart")) {         //if 하트가 눌러져있으면 빈 하트로 변경 else 눌러진 하트로 변경
                $.ajax({
                    type: "POST",
                    url: "/update_like",
                    data: {
                        music_id_give: url,
                        type_give: type,
                        action_give: "unlike"
                    },
                    success: function (response) {
                        console.log("unlike")
                        i_like.addClass("no-heart").removeClass("check-heart")
                        num_like.text(response["count"])
                    }
                })
            } else {
                $.ajax({
                    type: "POST",
                    url: "/update_like",
                    data: {
                        music_id_give: url,
                        type_give: type,
                        action_give: "like"
                    },
                    success: function (response) {
                        console.log("like")
                        i_like.addClass("check-heart").removeClass("no-heart")
                        num_like.text(response["count"])
                    }
                })

            }
        }

        function listing() {         //전체 리스팅 함수
            $.ajax({
                type: 'GET',
                url: '/main',
                data: {},
                success: function (response) {
                    let rows = JSON.parse(response['musics'])
                    for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let artist = rows[i]['artist']
                        let album_title = rows[i]['album_title']
                        let album_img = rows[i]['album_img']
                        let genre = rows[i]['genre']
                        let url = rows[i]['melon_url']
                        let music_id = rows[i]['_id']['$oid']

                        let temp_html = `        <div class="album-card">
                                                    <div class="album-img-div" id='${music_id}'>
                                                        <img src="${album_img}"
                                                             class="album-img" onclick="music_info('${music_id}')">
                                                        <i onclick="heart_click('${music_id}','heart')" class="no-heart fa-solid fa-heart"></i>
                                                         <span class="like-num">0</span>

                                                    </div>
                                                    <div class="album-item">
                                                        <span class="music-title">${title}</span>
                                                        <span class="music-artist">${artist}</span>
                                                        <span class="album-title">${album_title}</span>
                                                        <span class="album-genre" id="genre">${genre}</span>
                                                    </div>
                                                </div>`
                        $('#card-div').append(temp_html)
                    }
                }
            });
        }


        function genre(genre_key, genre_key2, genre_key3) {          //장르별 temp 해주는 함수
            $('.album-card').remove()
            $.ajax({
                type: 'GET',
                url: '/main',
                data: {},
                success: function (response) {
                    let rows = JSON.parse(response['musics'])
                    for (let i = 0; i < rows.length; i++) {
                        let title = rows[i]['title']
                        let artist = rows[i]['artist']
                        let album_title = rows[i]['album_title']
                        let album_img = rows[i]['album_img']
                        let genre = rows[i]['genre']
                        let url = rows[i]['melon_url']
                        let music_id = rows[i]['_id']['$oid']     //music_카드 id
                        let temp_html = `        <div class="album-card">
                                                    <div class="album-img-div" id='${music_id}'>
                                                        <img src="${album_img}"
                                                             class="album-img" onclick="music_info('${music_id}')">
                                                        <i onclick="heart_click('${music_id}','heart')" class="no-heart fa-solid fa-heart"></i>
                                                        <span class="like-num">0</span>
                                                    </div>
                                                    <div class="album-item">
                                                        <span class="music-title">${title}</span>
                                                        <span class="music-artist">${artist}</span>
                                                        <span class="album-title">${album_title}</span>
                                                        <span class="album-genre" id="genre">${genre}</span>
                                                    </div>
                                                </div>`
                        if (genre.includes(genre_key) || genre.includes(genre_key2) || genre.includes(genre_key3)) {
                            $('#card-div').append(temp_html)
                        }
                    }
                }
            });
        }

        function post() {
            let url = $('#url-input').val()
            if (url == "") {
                alert("URL을 입력하세요!")
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/main',
                    data: {url_give: url},
                    success: function (response) {
                        if (response['msg'] == '이미 등록된 URL입니다!') {
                            alert(response['msg'])
                        } else {
                            alert(response['msg'])
                            window.location.reload()
                        }
                    }
                });
            }
        }
    </script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>로그인</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="tabs is-centered is-large">
    <ul>
        <li><a id="k-toggle">장르</a></li>
    </ul>
</div>
<div class="genre-div-k">
    <button onclick="genre('발라드')" class="button">발라드</button>
    <button onclick="genre('POP')" class="button">팝</button>
    <button onclick="genre('댄스')" class="button">댄스</button>
    <button onclick="genre('R&B','Soul')" class="button">R&B/소울</button>
    <button onclick="genre('록','메탈')" class="button">록/메탈</button>
    <button onclick="genre('랩','힙합')" class="button">랩/힙합</button>
    <button onclick="genre('일렉트로니카','하우스','클럽')" class="button">일렉트로니카</button>
    <button onclick="genre('인디')" class="button">인디</button>
    <button onclick="genre('블루스','포크','컨트리')" class="button">블루스/포크/컨트리</button>
</div>

<div class="url-button-div">
    <button class="button is-danger url-button" onclick='$("#modal-post").addClass("is-active")'>등록하기</button>
</div>

<div class="modal" id="modal-post">
    <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
    <div class="modal-content">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="field">
                        <span class="article-span">URL</span>
                        <input id="url-input" class="input is-link" type="text" placeholder="URL을 입력하세요">
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a class="button is-danger" onclick="post()">등록하기</a>
                            </div>
                            <div class="level-item">
                                <a class="button is-dark is-outlined"
                                   onclick='$("#modal-post").removeClass("is-active")'>취소</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"
            onclick='$("#modal-post").removeClass("is-active")'></button>
</div>
<div class="containers">
    <div class="content" id="card-div">
        <!--카드공간-->
    </div>
    <div class="moveTopBtn" style="cursor:pointer;" onclick="window.scrollTo(0,0);">
        <span class="material-symbols-outlined" style="font-size: 50px">
            expand_less
        </span>
    </div>
</div>
</body>
</html>